In [2]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit

In [3]:
df = pd.read_csv("/home/ajana/Code/MLProjects/Heart-Disease-Detection/artifact/12_25_2023_18_29_56/data_ingestion/feature_store/Heart Attack.csv")
df.head()

,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,class
0,64,1,66,160,83,160.0,1.80,0.012,negative
1,21,1,94,98,46,296.0,6.75,1.060,positive
2,55,1,64,160,77,270.0,1.99,0.003,negative
3,64,1,70,120,55,270.0,13.87,0.122,positive
4,55,1,64,112,65,300.0,1.08,0.003,negative

In [4]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_index,test_index in split.split(df, df["class"]):
    strat_train_set = df.loc[train_index].drop(["class"],axis=1)
    strat_test_set = df.loc[test_index].drop(["class"],axis=1)

In [5]:
strat_train_set

,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin
881,54,1,63,105,64,121.0,11.940,0.005
723,36,0,59,137,81,99.0,4.150,0.003
889,65,1,77,122,58,106.0,1.570,0.484
1004,72,0,94,122,67,392.0,1.090,0.016
761,55,0,68,116,74,143.0,1.340,0.094
...,...,...,...,...,...,...,...,...
1246,45,0,79,156,82,111.0,1.730,0.006
1042,70,0,61,90,57,83.0,1.330,0.009
361,73,1,60,136,68,87.0,3.040,0.053
109,20,1,60,156,60,103.0,5.220,1.840
721,52,1,61,121,60,99.0,0.799,0.076